@media(max-width: 1440px){
    body{
        background-image: url(../images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: cover;
    }

    .illustration{
        display: grid;
        padding: 3em;
        grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
    }

    .illustration .image{
        width: 700px;
        height: 500px;
        margin: 0 auto;
    }

    .illustration .image img{
        width: 100%;
        height: 100%;
    }

    .illustration .text h2{
        text-align: center;
        font-size: 4rem;
    }

    .illustration .text p{
        text-align: center;
    }

    .illustration .text{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}