@media(max-width: 1440px){
    .illustration{
        grid-template-columns: 1fr;
    }

    .illustration .image {
        background-image: url('../images/mobile-design.jpg');
        background-size: cover;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 40px;
    }

    .illustration .text h2{
        text-align: center;
        font-size: 4rem;
    }

    .illustration .text p{
        text-align: center;
    }

    .illustration .text .btn{
        align-self: center;
        margin-top: 30px;
    }

    .footer{
        display: flex;
        justify-content: center;
    }
    
}